.navbar-light .navbar-nav .nav-link {
    color: #e6e6e6 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e6e6e6;
}

div.dropdown-menu.show {
    background-color: rgb(148, 144, 144);
}

